@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
	--theme-font-family-base: 'Avenir Next', sans-serif;
	--theme-font-family-heading: 'Avenir Next Condensed', sans-serif;
}

body {
	font-family: 'Avenir Next';
}

h1,
h2 {
	font-family: 'Avenir Next Condensed' !important;
}
